<!DOCTYPE html>
<html lang="en">
<head>
	<script src= "http://code.jquery.com/jquery-2.1.1.js"> </script>
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>>
<body>

<div  id = "addForm">

				<form action="/addForm/" method = "post">
					{% csrf_token %}
					<div>
						<b>Title:</b>
							<input  name = "title"/>
							<b>Form Description</b>
							<input  name = "form_description"/>
					</div>
					<div>
						<input type="submit" class = "btn btn-success pull-left" value = "Add Form!"/>
                    </div>
					</form>

	{%for formD in formsVar%}
	<h1>{{formD.title}}</h1>
	<h3>{{formD.form_description}}</h3>
	{%endfor%}

    </div>

</body>
</html>



