<!DOCTYPE html>
<html>
<head>
<title></title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--include the jquery library -->
<script>
    $(document).ready(function() {
    var max_fields_limit      = 10; //set limit for maximum input fields
    var x = 1; //initialize counter for text box
    $('.add_more_button').click(function(e){ //click event on add more fields button having class add_more_button
        e.preventDefault();
        if(x < max_fields_limit){ //check conditions
            x++; //counter increment

            $('.input_fields_container').append('<div><input type="text" name="QuestionList"/><a href="#" class="remove_field" style="margin-left:10px;">Remove</a></div>'); //add input field
        }
    });
    $('.input_fields_container').on("click",".remove_field", function(e){ //user click on remove text links
        e.preventDefault(); $(this).parent('div').remove(); x--;
    })
});
</script>

</head>
<body>
<div>
     <form action="/addQues/" method="POST">
          {% csrf_token %}
 <div class="input_fields_container">

      <div id="qu"><input type="text" name="QuestionList">
           <button class="btn btn-sm btn-primary add_more_button"> +</button>
      </div>
         <input type="submit" value="submit" >
</div>





     </form>


    </div>


<div>
    {%for i in Q1%}
    {{i.ques}}
    {%endfor%}

</div>
</div>


</body>
</html>
